.App{
    background-color: rgb(0, 0, 120);
    padding: 4rem 3rem;
    display: flex;
    justify-content: center;
}

.body{
    background-color: #f5f5f5;
    border-radius: 10px;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-template: auto auto / repeat(5, 1fr);
}

.dice-container{
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    padding: 1rem;
}

.dice-num{
    font-size: 2rem;
}

.dice{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  1rem 0;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.roll-dice {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: rgb(77, 2, 216);
    color: white;
    font-size: 1.2rem;
    margin: 2rem;
    cursor: pointer;
}